<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @renter.first_name %>,</h1>
    <p>
      You have successfully rented the kitchen <%= @kitchen.title %>.<br>
    </p>
    <p>
      To view your rental, just follow this link: <%= @url %>.
    </p>
    <p>Thank you and have a great day!</p>
    <p>-The ShareDining Team</p>
  </body>
</html>
