<body class="information-body">
<%= render("shared/menu") %>

<main class="terms-main-information-section">
  <h1>Privacy Policy</h1>
  <br>
  <p>
    Share Dining Limited (company number 0950729) ("<strong>We</strong>" or “<strong>ShareDining</strong>”) are committed to protecting and respecting
    your privacy. This policy (together with our website terms of use and any other documents referred to herein set out
    the basis on which any personal data we collect from you, or that you provide to us, will be processed by us. Please
    read the following carefully to understand our views and practices regarding your personal data and how we will
    treat it. By visiting our website www.sharedining.co.uk (our “<strong>Website</strong>”) you are accepting and consenting to the
    practices described in this policy.
  </p>
  <br>
  <p>
    For the purpose of the Data Protection Act 1998 (the Act), the data controller is Share Dining Limited of 11 Penrhyn
    Crescent, London, SW14 7PF.
  </p>
  <br>
  <p>
    <strong>Information we may collect from you</strong>
    <br>
  <p>We may collect and process the following data about you:</p>
  <br>
  <ul>
    <li>
      <strong>Information you give us.</strong> You may give us information about you by filling in forms on our site
      www.sharedining.co.uk (our site) or by corresponding with us by phone, e-mail or otherwise. This includes
      information you provide when you register to use our site, subscribe to our service, search for a kitchen space on
      our site, and when you report a problem with our site. The information you give us may include your name, address,
      e-mail address and phone number, financial and credit card information, personal description and photograph.
    </li>
    <li>
      <strong>Information we collect about you.</strong> With regard to each of your visits to our site we may
      automatically collect the following information:
      <div class = "indented">
      <ul>
        <li>
          technical information, including the Internet protocol (IP) address used to connect your computer to the
          Internet, your login information, browser type and version, time zone setting, browser plug-in types and
          versions, operating system and platform;
        </li>
        <li>
          information about your visit, including the full Uniform Resource Locators (URL) clickstream to, through and
          from our site (including date and time); products you viewed or searched for; page response times, download
          errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and
          mouse-overs), and methods used to browse away from the page and any phone number used to call our customer
          service number.
        </li>
      </ul>
      </div>
    </li>
    <li>
      <strong>Information we receive from other sources.</strong> We may receive information about you if you use any
      other websites we operate or the other services we provide and we may share this data internally. We are also
      working closely with third parties (including, for example, business partners, sub-contractors in technical,
      payment and delivery services, advertising networks, analytics providers, search information providers, credit
      reference agencies) and may receive information about you (collected on their websites, applications or elsewhere)
      from them. You can restrict, remove or block cookies or tracking services through your browser settings at any
      time (see below). Certain cookies may be set as soon as you use the website, but you can remove them by enabling
      the Do Not Track (or DNT) preference in your browsing settings. This will let websites know that you do not want
      them collecting certain information about you. For more information about how to do this, you can visit:
      www.allaboutcookies.org and www.youronlinechoices.eu.
    </li>
    <li>
      <strong>Cookies.</strong> Our website uses cookies to distinguish you from other users of our website. This helps
      us to provide you with a good experience when you browse our website and also allows us to improve our site. For
      detailed information on the cookies we use and the purposes for which we use them see our Cookie policy.
    </li>
  </ul>
  </p>

  <h2>Uses made of the information</h2>
  <p>
  <p>We use information held about you in the following ways:</p>
  <br>
  <ul>
    <li>
      <strong>Information you give to us.</strong> We will use this information to:
      <div class = "indented">
      <ul>
        <li>carry out our obligations arising from any contracts entered into between you and us and to provide you with
          the information, products and services that you request from us;
        </li>
        <li>provide you with information about other goods and services we offer that are similar to those that you have
          already purchased or enquired about;
        </li>
        <li>provide you, or permit selected third parties to provide you, with information about goods or services we
          feel may interest you. If you are an existing customer, we will only contact you by electronic means (e-mail
          or SMS) with information about goods and services similar to those which were the subject of a previous sale
          or negotiations of a sale to you. If you are a new customer, and where we permit selected third parties to use
          your data, we (or they) will contact you by electronic means only if you have consented to this. If you do not
          want us to use your data in this way, or to pass your details on to third parties for marketing purposes,
          please tick the relevant box situated on the form on which we collect your data;
        </li>
        <li>notify you about changes to our service;</li>
        <li>ensure that content from our site is presented in the most effective manner for you and for your computer.
        </li>
      </ul>
      </div>
    </li>
    <li>
      <strong>Information we collect about you.</strong> We will use this information:
      <div class = "indented">
      <ul>
        <li>administer our site and for internal operations, including troubleshooting, data analysis, testing,
          improvements, research, statistical and survey purposes;
        </li>
        <li>improve our site to ensure that content is presented in the most effective manner for you and for your
          device;
        </li>
        <li>allow you to participate in interactive features of our service, when you choose to do so;</li>
        <li>keep our site safe and secure;</li>
        <li>measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant
          advertising to you; and
        </li>
        <li>make suggestions and recommendations to you and other users of our site about goods or services that may
          interest you or them.
        </li>
      </ul>
      </div>
    </li>
    <li>
      <strong>Information we receive from other sources.</strong> We may combine this information with information you
      give to us and information we collect about you. We may use this information and the combined information for the
      purposes set out above (depending on the types of information we receive).
    </li>
  </ul>
  </p>


  <h2>Disclosure of your information</h2>
  <p>
  <p>We may share your personal information with any member of our group, which means our subsidiaries, our ultimate holding company and its subsidiaries, as defined in section 1159 of the UK Companies Act 2006.</p>
  <br>
  <ul>
    <li>
      <strong>We may share your information with selected third parties</strong> including:
      <div class = "indented">
      <ul>
        <li>Business partners, suppliers and subcontractors for the performance of any contract we enter into with
          you.
        </li>
        <li>Advertisers and advertising networks that require the data to select and serve relevant adverts to you and
          others. We do not disclose information about identifiable individuals to our advertisers, but we may provide
          them with aggregate information about our users (for example, we may inform them that 500 men aged under 30
          have clicked on their advertisement on any given day). We may also use such aggregate information to help
          advertisers reach the kind of audience they want to target (for example, women in SW10). We may make use of
          the personal data we have collected from you to enable us to comply with our advertisers' wishes by displaying
          their advertisement to that target audience.
        </li>
      </ul>
      </div>
    </li>
    <li>
      <strong>We may disclose your personal information to third parties:</strong>
      <div class = "indented">
      <ul>
        <li>In the event that we sell or buy any business or assets, in which case we may disclose your personal data to
          the prospective seller or buyer of such business or assets;
        </li>
        <li>If ShareDining or substantially all of its assets are acquired by a third party, in which case personal data
          held by it about its customers will be one of the transferred assets;
        </li>
        <li>
          If we are under a duty to disclose or share your personal data in order to comply with any legal obligation,
          or in order to enforce or apply our terms of use and other agreements; or
          <ul>
            <li>to protect the rights, property, or safety of ShareDining, our customers, or others - this includes
              exchanging information with other companies and organisations for the purposes of fraud protection and
              credit risk reduction; or
            </li>
            <li>to assist us with delivering our Service including, but not limited to: analytics and search engine
              providers who assist us in the improvement and optimisation of our site, verification services, payment
              facilitation services, fraud prevention services and other marketing services. If we provide Personal
              Information about you to these third parties (who may be located outside the European Economic Area), or
              give them access to this Personal information, we will ensure that such third parties have contractual
              obligations to protect this Personal Information and to not use it for unrelated purposes.
            </li>
          </ul>
        </li>
      </ul>
      </div>
    </li>
  </ul>
  </p>


  <h2>Where we store your personal data</h2>
  <p>
    The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic
    Area ("EEA"). It may also be processed by staff operating outside the EEA who work for us or for one of our
    suppliers. Such staff maybe engaged in, among other things, the fulfilment of your order, the processing of your
    payment details and the provision of support services. By submitting your personal data, you agree to this transfer,
    storing or processing. We will take all steps reasonably necessary to ensure that your data is treated securely and
    in accordance with this privacy policy.
    All information you provide to us is stored on our secure servers. Any payment transactions will be encrypted. Where
    we have given you (or where you have chosen) a password which enables you to access certain parts of our site, you
    are responsible for keeping this password confidential. We ask you not to share a password with anyone.
    Unfortunately, the transmission of information via the internet is not completely secure. Although we will do our
    best to protect your personal data, we cannot guarantee the security of your data transmitted to our site; any
    transmission is at your own risk. Once we have received your information, we will use strict procedures and security
    features to try to prevent unauthorised access.
  </p>


  <h2>Your rights</h2>
  <p>
    You have the right to ask us not to process your personal data for marketing purposes. We will usually inform you
    (before collecting your data) if we intend to use your data for such purposes or if we intend to disclose your
    information to any third party for such purposes. You can exercise your right to prevent such processing by checking
    certain boxes on the forms we use to collect your data. You can also exercise the right at any time by contacting us
    at support@sharedining.co.uk.
    Our site may, from time to time, contain links to and from the websites of our partner networks, advertisers and
    affiliates. If you follow a link to any of these websites, please note that these websites have their own privacy
    policies and that we do not accept any responsibility or liability for these policies. Please check these policies
    before you submit any personal data to these websites.
  </p>

  <h2>Access to information</h2>
  <p>
    The Act gives you the right to access information held about you. Your right of access can be exercised in
    accordance with the Act. Any access request may be subject to a fee of £10 to meet our costs in providing you with
    details of the information we hold about you.
  </p>

  <h2>Changes to our privacy policy</h2>
  <p>
    Any changes we may make to our privacy policy in the future will be posted on this page and, where appropriate,
    notified to you by e-mail. Please check back frequently to see any updates or changes to our privacy policy.
  </p>

  <h2>Contact</h2>
  <p>
    Questions, comments and requests regarding this privacy policy are welcomed and should be addressed to
    support@sharedining.co.uk.
  </p>
</main>

<%= render("shared/footer") %>
</body>