<body class="information-body">
<%= render("shared/menu") %>
<main class="main-information-section">
  <h1>The Kitchen Economy</h1>

  <h2>Our Mission</h2>

  <p>
    <strong>ShareDining is a trusted community marketplace for people to list, discover and book kitchen spaces from the
      food community.</strong>
  </p>

  <p>
    We can speak from experience as operators of food businesses where we faced the expensive and time consuming
    challenge of finding kitchens to rent.
  </p>

  <p>
    We knew there should have been an easier way for technology to facilitate the growth of food businesses.
  </p>

  <p>
    We also understand that kitchens are expensive assets that are not always used to their full capacity.
  </p>

  <p>
    <strong>Unlock the value today by either renting or listing a kitchen and be part of the Kitchen Economy.</strong>
  </p>
</main>

<%= render("shared/footer") %>
</body>