<body class="information-body">
<%= render("shared/menu") %>
<main class="main-information-section">
  <div class = "h1_p">
    <h1>The Kitchen Economy</h1>

    <p>Our Mission</p>
  </div>
  <br>

  <h3>
    ShareDining is a trusted community marketplace for people to list, discover and book kitchen spaces from the
      food community.
  </h3>
  <br>
  <p>
    We can speak from experience as operators of food businesses where we faced the expensive and time consuming
    challenge of finding kitchens to rent.
  </p>
  <br>

  <p>
    We knew there should have been an easier way for technology to facilitate the growth of food businesses.
  </p>
  <br>

  <p>
    We also understand that kitchens are expensive assets that are not always used to their full capacity.
  </p>
  <br>

  <h3>
    <strong>Unlock the value today by either renting or listing a kitchen and be part of the Kitchen Economy.</strong>
  </h3>
</main>

<%= render("shared/footer") %>
</body>