<%= render("shared/menu") %>
<main class="usage-main-information-section">
  <p>Usage Agreement</p>

  <ul>
    <li>
      Words and expressions used in the ShareDining Terms of Use will have the same meaning in this Usage Agreement unless otherwise defined. The ShareDining Terms of Use can be found <a href="<%= landing_terms_of_use_path %>">here</a>.
    </li>
    <li>This Usage Agreement is between a Renter (“You”) and an Owner in relation to the use of kitchen or other space agreed between the parties in a confirmed Booking.</li>
    <li>The Owner grants you a licence to occupy the Space for the period agreed in the Booking subject to the terms of this Agreement, together with any access to the Space.</li>
    <li>You and the Owner agree that the following terms are incorporated into this Agreement and are binding upon you:</li>
      <ul class = "alpha">
        <li>the details agreed at the time of the Booking (including any terms agreed in an electronic conversation between you in connection with the Booking as part of the Service); and</li>
        <li>paragraphs 1 (Introduction), 2 (Definitions of other terms), 5 (Eligibility), 6 (Property Responsibility), 9 (Bookings, Fees and Payments), 10 (Cancellation), 14 (Damage) and 16 (Mediation) of the Terms of Use</li>
      </ul>
    <li>You are not a tenant of the Space and you have not been granted exclusive possession of the Space.</li>
    <li>
      <p>You agree to:</p>
      <ul class = "alpha">
        <li>pay the Booking Fee as agreed in the Booking;</li>
        <li>pay the full cost of any damage arising from the Booking to the Space and/or any property connected to the Space belonging to the Owner (“<strong>Owner Connected Property</strong>”) or to any contents from the Space and/or Owner Connected Property; and</li>
        <li>leave the Space and/or the Owner Connected Property in the same condition as you find it at the start of the Booking.</li>
      </ul>
    </li>
    <li>
      <p>You agree not to:</p>
      <ul class = "alpha">
        <li>do anything that will or might constitute a breach of any consents in relation to the Space and/or any Owner Connected Property;</li>
        <li>obstruct or leave any objects or waste in the Space or any Owner Connected Property;</li>
        <li>take any contents away with you from the Space and/or any Owner Connected Property;</li>
        <li>do or permit to be done anything in the Space which is a nuisance to a Owner, to neighbours of an Owner or to other users of the Space and/or any Owner Connected Property;</li>
        <li>conduct any illegal activity from the Space;</li>
        <li>make any alteration or additions to the Space;</li>
        <li>take any pets or animals into the Space and/or any Owner connected Property (unless otherwise agreed with the Owner); and</li>
        <li>disclose any personal data or confidential information relating to the Owner.</li>
      </ul>
    </li>
    <li>
      <p>You hereby duly confirm by way of warranty that:</p>
      <ul class = "alpha">
        <li>
          to the extent the Booking is for “food operations”, including selling or distributing food the public, that:
          <ul class = "decimal">
            <li>you are registered with your local authority (or the Food Standards Agency) as a Food Business Operator, as defined by European Commission Regulation 178/2002 as the natural or legal person responsible for ensuring that the requirements of food law are met within the food business under their control; and</li>
            <li>you shall notify the relevant local authority of the location and use of the Booking, as applicable and to the full extent required by law; and</li>
          </ul>
        </li>
        <li>to the extent that you shall employ staff when using the Booking, that you have employer’s liability insurance in respect of such employees.</li>
      </ul>
    </li>
    <li>The Owner will not be liable to you for any loss or for any consequential or indirect losses arising as a result of this Agreement or the Booking, although nothing in this agreement limits or excludes the liability of the Owner for death or personal injury arising as a result of their negligence.</li>
    <li>This Agreement is governed by, and construed in accordance with the laws of England and Wales. You agree to submit to the exclusive jurisdiction of the English courts.</li>
  </ul>
  </main>
