<body class="landing-body" data-js="landing">

<section class="modal-overlay">
  <%= render("signup_modal") %>
  <%= render("login_modal") %>
</section>

<section class="landing-banner">
  <%= render("shared/menu") %>

  <div class="banner-details">
    <h2 class="tagline">Creating the Kitchen Economy</h2>
    <h3 class="sub-tagline">Search through available commercial kitchens in your area</h3>
  </div>

  <div class="landing-search">
    <form action="./search/results" class="landing-search-form">
      <input id="pac-input" class="landing-location-input" type="text" placeholder="Portland, OR, United States">

      <!-- Google Maps Autocomplete -->
      <script>
        function initialize() {
          var options = {
            types: ['(cities)'],
            componentRestrictions: {country: "GB"}
          }
          var input = document.getElementById('pac-input');
          var autocomplete = new google.maps.places.Autocomplete(input, options);
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDcgmjQMh77M_6_u3k0z1ymYgeEIrENHM&libraries=places&callback=initialize" async defer></script>

      <input class="landing-start-input" type="date">
      <input class="landing-end-input" type="date">
      <button class="landing-submit">Search</button>
    </form>
  </div>
</section>

<section class="landing-kitchen-list-container">
  <h2 class="landing-kitchen-section-title">Explore Kitchens</h2>
  <ul class="landing-kitchen-list clearfix">
    <li class="landing-kitchen-category">
      <h2 class="landing-kitchen-category-title">Uptown</h2>
    </li>
    <li class="landing-kitchen-category">
      <h2 class="landing-kitchen-category-title">Central London</h2>
    </li>
    <li class="landing-kitchen-category">
      <h2 class="landing-kitchen-category-title">Downtown</h2>
    </li>
    <li class="landing-kitchen-category">
      <h2 class="landing-kitchen-category-title">Newly Added</h2>
    </li>
    <li class="landing-kitchen-category">
      <h2 class="landing-kitchen-category-title">Highest Rated</h2>
    </li>
    <li class="landing-kitchen-category">
      <h2 class="landing-kitchen-category-title">Last Minute</h2>
    </li>
  </ul>
</section>

<footer class="main-footer">
  CS130 Project
</footer>
</body>
