<!DOCTYPE html>
<html>
<head>
  <title>ShareDining | Results</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= stylesheet_link_tag "main" %>
</head>
<body>
<!--we should render this on every page and simply link to the icons via use-->
<%= render 'shared/icons' %>

<!--TODO: pull this out into a partial-->
<nav class="main-nav">
  <h1 class="main-logo">sharedining</h1>
  <label for="nav-search" class="nav-search-icon">
    <svg>
      <use xlink:href="#search"></use>
    </svg>
  </label>
  <input id="nav-search" type="text" class="nav-search" value="Sample Location, CA, United States">
  <button class="account-nav-button">
    <span class="button-text">Bobby</span>
    <svg>
      <use xlink:href="#user"></use>
    </svg>
  </button>
  <button class="help-nav-button">
    <span class="button-text">FAQ</span>
    <svg>
      <use xlink:href="#help"></use>
    </svg>
  </button>
</nav>

<section class="results-map-container">
  <!--google maps-->
</section>
<section class="results-container">
  <ul class="filters-list">
    <li class="filter">
      <label for="begin-date">Dates</label>
      <input name="begin-date" id="begin-date" type="date">
      <input name="end-date" type="date">
    </li>
    <li class="filter">
      <label for="price-range">Price</label>
      <input id="price-range" name="price-range" type="range">
    </li>
  </ul>

  <ul class="results-list">

  </ul>
</section>

</body>
</html>
