<!DOCTYPE html>
<html>
<head>
  <title>ShareDining | Home</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <%= stylesheet_link_tag "main" %>
</head>
<body class="landing-body">

<section class="modal-overlay">
  <%= render("signup_modal") %>
  <%= render("login_modal") %>
</section>

<section class="landing-banner">
  <%= render("shared/menu") %>

  <div class="banner-details">
    <h2 class="tagline">Creating the Kitchen Economy</h2>
    <h3 class="sub-tagline">Search through available commercial kitchens in your area</h3>
  </div>

  <!--TODO: make this into an erb form-->
  <div class="landing-search">
    <form action="./search_results/results" class="landing-search-form">
      <input class="landing-location-input" type="text" value="Portland, OR, United States">
      <input class="landing-start-input" type="date">
      <input class="landing-end-input" type="date">
      <button class="landing-submit">Search</button>
    </form>
  </div>
</section>
</body>
</html>
