<footer class="footer-distributed">
  <div class="footer-left">
    <ul class="footer-links">
      <li class="footer-link-list-element"><%= link_to "The Kitchen Economy", landing_the_kitchen_economy_path %></li>
      <li class="footer-link-list-element"><%= link_to "Terms of Use", landing_terms_of_use_path %></li>
      <li class="footer-link-list-element"><%= link_to "Privacy Policy", landing_privacy_policy_path %></li>
      <li class="footer-link-list-element"><%= link_to "Cookie Policy", landing_cookie_policy_path %></li>
    </ul>
    <p class="footer-company-name">Share Dining Limited © 2016</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-phone"></i>
      <p>+44 7713 147510</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@sharedining.co.uk">support@sharedining.co.uk</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>Creating the kitchen economy</span>
    </p>

    <ul class="footer-icons">
      <li class="footer-icon-list-element">
        <a href="https://www.facebook.com/sharediningltd/?fref=ts" target="_blank"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="footer-icon-list-element">
        <a href="https://twitter.com/ShareDiningHQ" target="_blank"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="footer-icon-list-element">
        <a href="https://www.instagram.com/sharedining/" target="_blank"><i class="fa fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</footer>
