<h2>Availibility</h2>
<div>
  <div class="calendar"></div>
</div>
<%#<div id="create_event_dialog" class="dialog" style="display:none;"></div>%>
<div id="create_event_dialog" class="dialog"></div>
<div id="event_desc_dialog" class="dialog">
  <%= render 'form' %>
</div>

<script type="javascript">
  // $('.calendar').fullCalendar(full_calendar_options);
  $(document).ready(function(){
    $('.calendar').fullCalendar(full_calendar_options);
    // page is now ready, initialize the calendar...
    $('#new_event').click(function(event) {
      FullcalendarEngine.Form.display()
      event.preventDefault();
    });
  });
</script>
