@import 'fonts';
@import 'colors';

$nav-height: 60px;

.main-nav {
  font-family: logo;
  border-bottom: 1px solid lighten($light-grey, 13);
  width: 100%;
  height: $nav-height;
  background-color: rgba($white, .6);
  color: $dark-grey;

  .main-logo-link {
    float: left;
    width: 200px;
    height: 100%;
    text-decoration: inherit;
  }

  .main-logo {
    background-color: $black;
    color: $white;
    line-height: $nav-height;
    text-align: center;
    font-size: 24px;
    opacity: .85;
    transition: opacity .5s;

    &:hover {
      opacity: 1;
    }
  }
}

.landing-rent-button {
  float: right;
}

.landing-links {
  float: right;
  height: inherit;
  font-size: 13px;

  li {
    float: left;
    height: inherit;
    line-height: 60px;
    margin-right: 35px;

    a {
      border-radius: 3px;
      padding: 6px 10px;
      color: inherit;
      text-decoration: inherit;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: $white;
        background-color: $dark-grey;
      }
    }
  }
}
