@import 'colors';

.slider-container {
  position: relative;

  .slider-list {
    width: 100%;
    height: 100%;
    position: relative;

    .slider-list-element {
      position: absolute;
      width: 100%;
      height: 100%;
      display: none;
      text-align: center;

      &.current {
        display: block;
      }
    }
  }

  .breadcrumb-list {
    z-index: 400;
    position: absolute;
    bottom: 0;
    width: 80%;
    margin: 0 10% 8px 10%;
    text-align: center;

    .breadcrumb-list-el {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 0 16px;

      &.current .breadcrumb-button {
        background-color: $white;
        opacity: .9;
      }
    }

    .breadcrumb-button {
      opacity: .4;
      margin: 0;
      padding: 0;
      border-radius: 100%;
      height: 100%;
      width: 100%;
      background-color: $light-grey;
      transition: opacity .25s, background-color .25s;

      &:hover,
      &:focus {
        opacity: .7;
      }
    }
  }

  .next-button,
  .prev-button {
    font-size: 0;
    z-index: 400;
    background-color: $dark-grey;
    position: absolute;
    height: 50px;
    width: 50px;
    opacity: .7;
    border-radius: 100%;
    line-height: 54px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 2px 5px rgba($dark-grey, .7);

    &:hover,
    &:focus {
      opacity: .9;
    }

    &:after {
      content: '';
      position: absolute;
      top: 15px;
      width: 0;
      height: 0;
      border: 10px solid transparent;;
    }
  }

  .prev-button {
    left: 10px;

    &:after {
      right: 18px;
      border-left-width: 0;
      border-right: 20px solid $light-grey;
    }
  }

  .next-button {
    right: 10px;

    &:after {
      left: 18px;
      border-right-width: 0;
      border-left: 20px solid $light-grey;
    }
  }
}

