@import 'colors';
@import 'fonts';

$search-input-height: 40px;

.landing-body {
  height: 100%;
  width: 100%;
}

.landing-banner {
  position: relative;
  width: 100%;
  height: 90vh;
  background: image_url('landing/banner.jpg') no-repeat center;
  background-size: cover;

  .main-nav {
    font-family: logo;
    border: none;
    background-color: rgba($white, .6);
    color: $dark-grey;
  }

  .landing-rent-button {
    float: right;
    background-color: transparent;
    padding: 6px 10px;
    font-size: 13px;
    border: 2px solid $dark-grey;
    border-radius: 2px;
    margin-top: 15px;
    margin-right: 50px;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: $dark-grey;
      color: $white;
    }
  }
}

.landing-links {
  float: right;
  height: inherit;
  font-size: 13px;

  li {
    float: left;
    height: inherit;
    line-height: 60px;
    margin-right: 35px;

    a {
      border-radius: 3px;
      padding: 6px 10px;
      color: inherit;
      text-decoration: inherit;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: $white;
        background-color: $dark-grey;
      }
    }
  }
}

.banner-details {
  font-family: logo;
  width: 100%;
  opacity: .9;
  text-shadow: 4px 4px 5px rgba($dark-grey, .85);

  .tagline {
    margin-top: calc(45vh - 60px);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: $white;
    font-size: 60px;
  }

  .sub-tagline {
    width: 100%;
    text-align: center;
    color: $white;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.landing-search {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba($black, .3);
  height: 150px;
  text-align: center;

  .landing-search-form {
    display: inline-block;
    height: $search-input-height;
    margin-top: 75px;
    transform: translateY(-50%);
  }

  input, button {
    display: inline-block;
    font-family: main;
    float: left;
    line-height: $search-input-height;
    border: none;
    padding: 0 0 0 10px;
    margin: 0;
    height: inherit;
    color: lighten($dark-grey, 35);
    font-size: 16px;
    opacity: .95;
  }

  input:hover,
  input:focus {
    opacity: 1;
  }

  input:focus {
    color: lighten($dark-grey, 20);
  }

  .landing-location-input {
    border-right: 2px solid $light-grey;
    width: 300px;
    border-radius: 3px 0 0 3px;
  }

  .landing-start-input,
  .landing-end-input {
    width: 175px;
  }

  .landing-start-input {
    border-right: 2px solid $light-grey;
  }

  .landing-submit {
    padding: 0 14px;
    color: $white;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 0 3px 3px 0;

    &:hover {
      background-color: $white;
      color: $dark-grey;
      border-left: 2px solid $light-grey;
      opacity: 1;
    }
  }
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba($black, .6);

  .login-modal,
  .signup-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: main;
    border-radius: 3px;
    margin: 0 auto;
    transform: translateX(-50%) translateY(-50%);
    width: 20%;
    min-width: 320px;
    background-color: $white;
    box-shadow: 5px 5px 10px rgba($dark-grey, .8);
    padding: 44px;
  }

  .modal-title {
    color: $dark-grey;
    font-size: 24px;
  }

  .modal-tagline {
    color: lighten($dark-grey, 20);
    font-size: 12px;
    margin-top: 12px;
  }

  .login-details {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid $light-grey;
    width: calc(100% - 40px);
    font-size: 12px;
    padding: 15px 20px;
    line-height: 1.5;
  }

  .login-list {
    width: 80%;
    margin: 40px auto;

    button {
      font-family: logo;
      background-color: $white;
      width: 100%;
      height: 50px;
      border-radius: 3px;
      border: 2px solid $light-grey;
      padding: 0 20px;
      font-size: 12px;
      text-transform: uppercase;

      &:hover {
        box-shadow: 0 0 15px rgba($dark-grey, .4);
      }

      .login-button-text {
        height: 50px;
        line-height: 50px;
      }

      svg {
        margin: 15px 0;
        float: left;
        height: 20px;
        width: 20px;
        fill: $facebook;
      }
    }
  }

  .login-email-title {
    font-family: logo;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $dark-grey;
    font-size: 12px;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 100%;
      border-top: 1px solid $light-grey;
      margin: 20px auto 40px auto;
    }

    &:after {
      content: 'OR';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateY(-40%) translateX(-50%);
      background-color: $white;
      width: 70px;
    }
  }

  .login-email-form {
    width: 100%;
  }

  input {
    border-radius: 3px;
    width: calc(100% - 24px);
    margin-top: 15px;
    padding: 12px 10px;
    border: 2px solid $light-grey;
    font-size: 13px;
  }

  input[type=submit] {
    background-color: lighten($black, 20);
    color: $white;
    border: none;
    box-sizing: content-box;
    width: calc(100% - 20px)
  }
}

// logic to display modals based on class added to body
.modal-overlay,
.login-modal,
.signup-modal {
  transition: opacity .4s;
  opacity: 0;
  visibility: hidden;
}

body.login-modal-show {
  .modal-overlay,
  .login-modal {
    opacity: 1;
    visibility: visible;
  }
}

body.signup-modal-show {
  .modal-overlay,
  .signup-modal {
    opacity: 1;
    visibility: visible;
  }
}