@import 'colors';
@import 'fonts';

$search-input-height: 40px;

.landing-body {
  height: 100%;
  width: 100%;
}

.landing-banner {
  position: relative;
  width: 100%;
  height: 90vh;
  background: image_url('landing/banner.jpg') no-repeat center;
  background-size: cover;

  .main-nav {
    border-bottom: none;
  }
}

.banner-details {
  font-family: logo;
  width: 100%;
  opacity: .9;
  text-shadow: 4px 4px 5px rgba($dark-grey, .85);

  .tagline {
    margin-top: calc(45vh - 60px);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: $white;
    font-size: 60px;
  }

  .sub-tagline {
    width: 100%;
    text-align: center;
    color: $white;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.landing-search {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba($black, .3);
  height: 150px;
  text-align: center;

  .landing-search-form {
    display: inline-block;
    height: $search-input-height;
    margin-top: 75px;
    transform: translateY(-50%);
  }

  input, button {
    display: inline-block;
    font-family: main;
    float: left;
    line-height: $search-input-height;
    border: none;
    padding: 0 0 0 10px;
    margin: 0;
    height: inherit;
    color: lighten($dark-grey, 35);
    font-size: 16px;
    opacity: .95;
  }

  input:hover,
  input:focus {
    opacity: 1;
  }

  input:focus {
    color: lighten($dark-grey, 20);
  }

  .landing-location-input {
    border-right: 2px solid $light-grey;
    width: 300px;
    border-radius: 3px 0 0 3px;
  }

  .landing-start-input,
  .landing-end-input {
    width: 175px;
  }

  .landing-start-input {
    border-right: 2px solid $light-grey;
  }

  .landing-submit {
    padding: 0 14px;
    color: $white;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 0 3px 3px 0;

    &:hover {
      background-color: $white;
      color: $dark-grey;
      border-left: 2px solid $light-grey;
      opacity: 1;
    }
  }
}

.landing-kitchen-list-container {
  width: 969px;
  margin: 40px auto;
}

.landing-kitchen-section-title {
  font-family: logo;
  font-size: 24px;
  color: $dark-grey;
  margin: 40px 0;
  width: 100%;
  text-align: center;
}

.landing-kitchen-list {
  width: 100%;

  .landing-kitchen-category {
    position: relative;
    width: 305px;
    height: 305px;
    float: left;
    background: no-repeat center;
    background-size: cover;
    margin: 13px 0;

    &:nth-child(3n-1) {
      margin: 13px 25px;
    }

    @for $i from 1 to 7 {
      &:nth-child(#{$i}) {
        background-image: image_url('landing/categoryImages/#{$i}.jpeg');
      }
    }
  }

  .landing-kitchen-category-title {
    font-size: 12px;
    opacity: .9;
    text-transform: uppercase;
    width: 70%;
    position: absolute;
    left: calc(15% - 15px);
    bottom: 30px;
    padding: 15px;
    text-align: center;
    background-color: $white;
    color: $dark-grey;
    font-family: logo;
  }
}

