@import 'colors';

$nav-height: 60px;
$filter-height: 50px;

@font-face {
  font-family: 'logo';
  font-style: normal;
  font-weight: 900;
  src: local('Catamaran Black'), local('Catamaran-Black'), font-url('logo-font.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {
  width: 100%;
}

.main-nav {
  width: 100%;
  height: $nav-height;
  border-bottom: 1px solid $light-grey;

  // just make all svgs conform to parent size
  svg {
    height: 100%;
    width: 100%;
  }

  .main-logo {
    font-family: logo;
    float: left;
    width: 200px;
    height: 100%;
    background-color: $black;
    color: $white;
    line-height: $nav-height;
    text-align: center;
    font-size: 24px;
    opacity: .85;
    transition: opacity .5s;

    &:hover {
      opacity: 1;
    }
  }

  .nav-search-icon {
    float: left;
    height: 25px;
    width: 25px;
    padding: ($nav-height - 25px)/2;
    opacity: .75;
    fill: $dark-grey;
  }

  .nav-search {
    height: inherit;
    display: block;
    float: left;
    margin: 0;
    border: none;
    color: $dark-grey;
    width: calc(100% - 600px);
    font-size: 14px;
    padding: 0 0 0 20px;
    border-bottom: inherit;
  }

  .help-nav-button,
  .account-nav-button {
    float: right;
    height: inherit;
    border: none;
    border-left: 1px solid $light-grey;
    background-color: $black;
    color: $white;
    font-size: 14px;
    padding: 0 15px;
    opacity: .85;
    transition: opacity .5s;

    &:hover {
      opacity: 1;
    }

    .button-text {
      font-family: logo;
      display: block;
      float: left;
      line-height: $nav-height;
      height: inherit;
    }

    & > svg {
      margin-left: 15px;
      display: block;
      float: left;
      padding-top: ($nav-height - 30px)/2;
      width: 30px;
      height: 30px;
      fill: $white;
    }
  }
}

.results-map-container {
  float: left;
  width: 40%;
  height: calc(100vh - #{$nav-height});
  border-right: 1px solid #CCC;
}

// TODO pick another font family for body text and replace
.results-container {
  height: calc(100vh - #{$nav-height});
  overflow: scroll;
  font-family: logo;
  width: calc(60% - 1px);
  float: left;

  .filters-list {
    width: 100%;
  }

  .filter {
    width: 96%;
    margin: 0 2%;
    height: $filter-height;
    border-bottom: 1px solid $light-grey;

    label {
      color: $dark-grey;
      //margin-left: %;
      line-height: $filter-height;
      float: left;
      font-size: 12px;
    }

    input[name=begin-date],
    input[name=end-date],
    input[name=price-range] {
      margin-top: ($filter-height - 22px)/2;
      font-family: "Helvetica Neue", "Arial", sans-serif;
      height: 20px;
      border: 2px solid $light-grey;
      margin-left: 20px;
    }

    input[name=begin-date],
    input[name=end-date] {
      width: 20%;
    }

    input[name=price-range] {
      width: 40%;
    }
  }
}

.results-list {
  width: 100%;

  .result {
    outline: 1px solid $light-grey;
    width: 50%;
    float: left;
    height: 350px;
    background: no-repeat center;
    background-size: 100% 100%;
    position: relative;
    transition: background-size .25s;

    // TODO: change this so the results have real backgrounds
    @for $i from 1 to 7 {
      &:nth-child(#{$i}) {
        background-image: image_url('sampleKitchens/#{$i}.jpg');
      }
    }

    &:hover {
      background-size: 105% 105%;

      .price {
        background-color: rgba($dark-grey, .8);
      }
    }

    .price {
      font-size: 20px;
      color: $white;
      padding: 10px 15px;
      background-color: rgba($dark-grey, .5);
      position: absolute;
      bottom: 0;
      right: 0;
      transition: background-color .25s;
    }
  }
}

